@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Prompt:wght@100;200;400&display=swap");

* {
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  border-top: 50px;
  background-color: #f0f0f0;
  color: #2c2c2c;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  transition: 0.2s linear;
}

h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  box-shadow: 5px 5px #2c2c2c;
  padding: 0 5px;
  background-color: #ffd700;
  display: inline-block;
  font-size: 4rem;
  margin: 10px;
  font-weight: 300;
}
h1::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
h2::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
h3::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
h4::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
h5::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
h6::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
p::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}
::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a::selection {
  background: #2c2c2c;
  color: #f0f0f0;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  background-color: #2c2c2c;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border: 1px solid #2c2c2c;
  width: 2px;
  border-radius: 6px;
  z-index: 10;
}

hr {
  color: #f0f0f0;
  height: 5px;
  margin-top: 15px;
}

.icon-mob {
  display: flex;
  display: none;
  padding: 10px;
}

.codepen a,
.sobre-info a,
.projetos-info a,
.contato-info a,
.contato-email a {
  font-weight: bold;
  background-color: #ffd700;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #2c2c2c;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.skills-info a:hover {
  filter: grayscale(20%);
}

.git a:hover {
  filter: grayscale(20%);
}

.sobre-info a:hover {
  filter: grayscale(20%);
}

.codepen a:hover {
  filter: grayscale(20%);
}

.contato-info a:hover {
  filter: grayscale(20%);
}
